body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary_color: #141EFF;
  --secondary_color: #FFFFFF;
  --success_color: green;
  --danger_color: red;
  --text1_color: #FFFFFF; 
  --app_border_color: #c7c7c7;
  --room_background_color: #3e3e3e;
  --room_background_color: #000000;
  --camera_background_color: #3e3e3e;
  --app_translucent_background_color: #3e3e3e7a;
  --app_border_radius: 8px;
  --app_curve_border_radius: 100px
}